<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="WebServiceToPing_AsConcatStringPipeSeparated" value="1|2|3" />
    <add key="WebServiceToPing_1" value="https://comptaplus.thomas-piron.eu:51171/ServiceComptaPlus.svc" />
    <add key="WebServiceToPing_2" value="https://comptaplus.thomas-piron.eu:51220/ServiceComptaPlus.svc" />
    <add key="WebServiceToPing_3" value="https://comptaplus.thomas-piron.eu:59999/ServiceComptaPlus.svc" />
    <add key="UserAllowedToUseServiceLogin" value="windowsServiceUserLogin" />
    <add key="UserAllowedToUseServicePassword" value="OYjDQFFiCRbnyOis6Ww0N8PlrD3B4mqrVEfw5qrDBgE=" />
    <add key="PingLoopDelayInMilliSeconds" value="60000" />
    <add key="MailSmtpServer" value="smtp.thomas-piron.eu" />
    <add key="MailNoReplyAddress" value="noreply@thomas-piron.eu" />
    <add key="MailAlertDestinataire" value="claude.siefers@nsi-sa.be" />
  </appSettings>
</configuration>